div  .alert {

  margin-bottom: 300px;
}
div .nav {
margin: 0px auto;
padding-left: 392px;
}
div .jumbotron .h1, .jumbotron h1{
font-size: 50px;
text-align: center;
}
h3 {
    font-size: 30px;
    text-align: center;
}
p {
    text-align: left;
}
.text-center {
    text-align: center;

}
.panel-primary>.panel-heading {
    color: #333;
    background-color:#fff;
    border-color: #333;
}
p.welcome {
  text-align: center;
  font-size: 20px;
}
a {
    color: #333;
    text-decoration: none;
    background-color: #eeeeee;
}

div .panel-body a {
    background-color: #fff;
    color:#333;
}

h1 {
  padding: 40px;
  text-align: center;
}
.col-md-6 a {
    background-color: #dff0d8;
    color:#337ab7;
}

div .caption p{
  text-align: right;
}

h5.mt-0 {
    text-align: center;
}
label.col-sm-4.control-label {
    padding-left: 0px;
}
div .nav {
    margin: 0px auto;
    padding-left: 360px;
}
div .add_button{
  padding-bottom: 20px;
}

thead.color {
    background-color: #dff0d8;
    color: #080808;
}
.alert-success {
    color: #333333;
    background-color: #fcf8e3;
    border-color: #d9edf7;
}
.table-bordered {
    border: 1px solid #333;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #333;
}
div .show_image img{
  width:300px;
}
div .show_video video{
  width:300px;
}
